@import "tailwindcss";

@font-face {
    font-family: "W95FA";
    src: url('../public/W95FA.otf');
}

* {
    font-family: "W95FA";
    font-size: 14px;
}

.btn {
    border: 2px outset #ccc;
    background-color: #c0c0c0;
    color: #222;
    padding: 2px 1rem;
    box-shadow: 1px 1px 0 0 #555;
    cursor: default;
    font-weight: bold;
    user-select: none;
}

.btn:hover {
    background-color: #ababab;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
    border: 1px outset #ccc;
    box-shadow: 1px 1px 0 0 #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}